/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff0000;
  --ifm-color-primary-dark: #d10000;
  --ifm-color-primary-darker: #8b0000;
  --ifm-color-primary-darkest: #660008;
  --ifm-color-primary-light: #ff4747;
  --ifm-color-primary-lighter: #ff7272;
  --ifm-color-primary-lightest: #ff9e9e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff0015;
  --ifm-color-primary-dark: #c00000;
  --ifm-color-primary-darker: #880707;
  --ifm-color-primary-darkest: #6b0000;
  --ifm-color-primary-light: rgb(255, 72, 72);
  --ifm-color-primary-lighter: #ff7d7d;
  --ifm-color-primary-lightest: #ffaaaa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
