version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: artisticeye_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword  
      MYSQL_DATABASE: artisticeye_db     
      MYSQL_USER: artisticeye_user       
      MYSQL_PASSWORD: strongpassword123  
    ports:
      - "3306:3306" 
    volumes:
      - db_data:/var/lib/mysql 

  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: artisticeye_pma
    restart: always
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      PMA_ABSOLUTE_URI: http://localhost:8080/
    ports:
      - "8080:80" 

volumes:
  db_data: